/*
fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;

*/

body{
  font-family: 'Montserrat', sans-serif;
}

#title{
  background-color: #ff4c68;
  color: #fff;
  /* padding: 4% 15% 7% 7%; */
}

.container-fluid{
  padding: 3% 15% 7%;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
}


h2{
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

h3{
  font-size: 3rem;
  font-weight: 900;
  width: 70%;
  margin: 0 auto;
  line-height: 1.5;
}

a{
  color: #212529;
}

/* Headings  */

.big-heading{
  font-family: 'Montserrat', sans-serif;
  size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.hero{
  position: relative;

}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
  font-size: 1.1rem;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light;"
}

.navbar{
      padding: 0 0 4.5rem;
}

/* Download Buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-img{
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  /* right: 210px; */
}

/* Feature Boxes */

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box{
  text-align: center;
  padding: 3%;
}

.feature-title{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.feature-icon{
  font-size: 4rem;
  color: #ef8172;
  margin-bottom: 7%;
}

.feature-icon:hover{
  color: #ff4c68;
}

.feature-description{
  color: #8f8f8f;
  /* width: 15rem; */
  margin: 0 auto;
}

/* Testimonials */

#testimonials{
  /* padding: 7% 15%; */
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
  padding: 100px;
  text-align: center;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column{
  padding: 3% 2%;
}

@media (max-width: 1028px){
  .title-img{
    position: static;
    transform: rotate(0);
  }

  #title{
    text-align: center;
  }
}

/* Call To Action */

#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-button{
  margin: 5% 3% 5% 0;
}

/* Footer Section */

#footer{
  background-color: #fff;
  padding: 5% 15%;
  text-align: center;
}

.copyright{
  color: grey;
  font-family: "Montserrat", san-sans-serif;
  font-weight: 600;

}

.social-icons{
  list-style: none;
  padding-left: 0;
}

.social-icons li{
  display: inline;
  margin: 0 10px 0 10px;
}
